{% extends 'base.html' %}
{% block title %}Cart{% endblock %}

{% block content %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название товара</th>
      <th scope="col">Цена</th>
      <th scope="col">Колличество</th>
        <th scope="col">Сумма</th>
    </tr>
  </thead>
  <tbody>
  {% for cart in carts %}
  	    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ cart.product.title }}</td>
      <td>{{ cart.product.price }}</td>
      <td>{{ cart.quantity }}</td>
      <td>{{ cart.total }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    <h3>Total: {{ total }}</h3>
{% endblock %}

